
<body>
<div class="container">
  <div class="mystyle">
  <h1>Food App</h1>
  <h2>Welcome to our food app!</h2>
  </div>
  <center>
    <button class="button">Get Started</button>
  </center>
</div>
</body>
