
<body>
<div class="container">
  <div class="mystyle">
  <h1>Food App</h1>
  <h2>Welcome to our food app!</h2>
  </div>
  <center>
      {{#link-to 'start' class="button"}}Get Started{{/link-to}}
  </center>
</div>
</body>
